= form_for @bird do |f|
  - if @bird.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bird.errors.count, "error")} prohibited this bird from being saved:"
      %ul
        - @bird.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
